body {
    background-color: #EEF8F6;
}
a {
	text-decoration: none;
}

header nav ul li a {
    color: #fafafa;
    font-family: Overlock SC;
}
ol, ul {
	list-style: none;
}

header {
    background-color: #352A1C;
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo {
     color: #BADFDA;
     font-family: UnifrakturMaguntia;
 }

header nav ul li{
    display: inline-block;
    margin: 10px;
    color: #FAFAFA;
}

#btn-doar {
    background: #BADFDA;
    border: 2px solid rgba(98, 154, 157, 0.5);
    padding: 2px 15px;
}

#btn-doar a {
    color: #000000;
}

footer ul li {
    display: inline-block;
    margin: 2px 10px;
}

footer ul li a {
    color: #BADFDA;
}
footer {
    background: #352A1C;
    width: 100%;
    height: 152.64px;
}

footer p{
    color: #BADFDA ;
}

.copyright {
    background-color:rgba(98, 154, 157, 0.8);
    text-align: center;
}

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.part1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.redes-sociais a {
    margin: 7px ;
}

.container{
    margin: 0 auto;
    width: 940px;
    height: 1100px;
   
}

.images img{
    height: 360px;
}

.images{
    /* display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

#title{
    text-align: center;
}
.container img {
    margin: 10px;
}
